{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" }, "modules": false }]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": ["react-hot-loader/babel"]
}
