.operation-layout{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
.fee-layout{
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
}
.group-headings{
    position:absolute; 
    top: 70px; 
    width: 50px;
    cursor:pointer;
    color: blue;
}
.feeButton{
    width: 25px;
    text-align: center;
    background: #f4f4f4;
    border: 1px solid #fff;
    border-radius: 3px;
}
.feeButton:focus{
    width: 25px;
    text-align: center;
    background: #323232;
    border: 1px solid #fff;
    border-radius: 3px;
}
.feeButtonDead{
    width: 25px;
    text-align: center;
    color: #cedced;
    background: #f4f4f4;
    border: 1px solid #fff;
    border-radius: 3px;
}
.group{
    margin-left:50px;
}
.input-group-prepend{
    background-color: #f4f4f4;
    border:1px solid #ced4da;
    border-radius: 4px 0px 0px 4px;
    color:#495057;
}
.icon{
    margin:10px 15px;
}
.input-group{
    margin-bottom:10px; 
    margin-top:10px;
}
.arrow{
    cursor: pointer;
}
th{
    cursor: pointer;
    text-align: center;
}

td{
    text-align: center;
}

.header-background{
    background: black;
  }
  .header-contrast-text{
    color: white;
  }
  
  .blocks-header{
    background: rgb(61, 61, 61);
  }
  
  .text-center{
    text-align: center!important;
  }