@import '_global';
@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/react-resizable/css/styles.css';


/* These styles would be globally applied..


body {
  font: 14px/1 Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.orange {
  color: orange;
} */
