.header-background{
    background: black;
  }
  .header-contrast-text{
    color: white;
  }
  
  .account-header{
    background: #3d3d3d;
  }
  
  
  .text-center{
    text-align: center!important;
  }