@import '_global';

.nav {
  margin-top: 8px;
}

.nav a {
  margin-right: 8px;
}

.cursor {
  cursor: pointer;
}

.header-background{
  background: black;
}
.header-contrast-text{
  color: white;
}

.link-no-decor{
  text-decoration: none;
  color:white;
  
}

.link-no-decor:hover{
  text-decoration: none;
  color:white;
}

.header-height{
  height:60px;
}
.bold{
  font-weight: bold;
}
.size30{
  font-size: 30px;
}

.size25{
  font-size: 25px;
}
